/* ======= THEME  ========= */
body {
    background: #F2F2F2;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.input-field label {
    color: #000000;
}

.modal.modal-fixed-footer .modal-header {
    position: fixed;
    top: 10px;
    z-index: 5;
}

.modal.modal-fixed-footer .modal-content {
    position: absolute;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    margin-top: +56px;
    height: calc(100% - 114px);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-foot{
    height: 58px !important;
}

.active-link{
    background:#51A8B1 !important;
    color: #fff !important;
}

.normal-link{
    background:#fff !important;
}

.normal-link a {
    color: #51A8B1 !important;
}

.waves-effect.waves-propspect .waves-ripple {
  background-color: rgba(81, 168, 177, 0.6);
}

/* ====== Navbar CSS ====== */
.button-collapse {
    color: #51A8B1;
}

.logo-img {
    height: 60px;
}

.verticalLine-left {
    border-left:  thick solid #51A8B1 !important;
    min-height: 100%;
}

.verticalLine-right {
    border-right:  thick solid #51A8B1 !important;
    min-height: 100%;
}




/* ====== General Usage ====== */
.propspect-blue-background {
    background: #51A8B1 !important;
}

.propspect-blue-text {
    color: #51A8B1 !important;
}

.waves-effect.waves-pspt-blue .waves-ripple {
    background-color: rgba(81,168,177, 0.7);
}

.long-container {
    width: 95%;
    margin: 0 auto;
}

.padding-2 {
    padding: 2px;
}

.font-12 {
    font-size: 12px !important;
}

.modal-tall-wide {
    max-height: 90%;
    width: 70%;
    top: 5% !important;
    height: 90% !important;
}

.lg-upper-form
{
    border: 15px;
    border-style: solid;
    border-color: #51A8B1;   
    background: #51A8B1;
    color: #fff;
}

.lg-lower-form{
    border: 15px;
    border-style: solid;
    border-color: #fff;    
}

.img-max-500{
    max-width: 500px;
}





#brand-image-container {
    display: inline-block;
}

.body-content {
    padding: 0px 50px;
}

.page-title {
    margin-top: 50px;
}



.btn-block {
    width: 100%;
    height: 100%;
}

.menu-item{
    cursor: pointer;
    cursor: hand;
    color: #fff !important;
    width: 100%;
}

.menu-item:hover
{
    background: #fff !important;
    color: #51A8B1 !important;
}

.no-margin-border{
    margin: 0 !important;
    border: 0 !important;
}

.input-margin{
    margin-bottom: 5px !important;
}



/* ====== Dashboard ====== */
.dashboard-logo{
    max-height: 130px;
}



/* ======= Validation ====== */
.field-validation-error{
    font-size: 10px !important;
    color: red !important;
    vertical-align: top;
}

.input-validation-error{
    border-bottom: 1px solid #F44336 !important;
    box-shadow: 0 1px 0 0 #F44336 !important;
}