#brand-image {
    width: 180px;
    height: auto;
    position: absolute;
    margin-top: -10px;
}

#brand-image-container {
    display: inline-block;
}

.table thead tr {
    background-color: #51A6AF;
    color:#fff;
}

.body-content {
    padding: 0px 50px;
}

.page-title {
    margin-top: 50px;
}

.table thead .btn-sm
{
    padding-top:0px;
    padding-bottom:0px;
}