@model TileControl

<div class="col s6 m4 l2" onclick="change_url('@Model.RedirectLocation')">
    <div class="menu-item card-panel propspect-blue-background waves-effect waves-propspect">
        <h5 class="center"><i class="medium material-icons">@Model.Icon</i></h5>
        <h5 class="center">@Model.Lable</h5>
    </div>
</div>


@*<div class="col s6 m4 l2" onclick="change_url('#')">
        <div class="menu-item card-panel propspect-blue-background waves-effect waves-propspect">
            <h5 class="center"><i class="medium material-icons">assignment_ind</i></h5>
            <h5 class="center">Add/Edit User</h5>
        </div>
    </div>*@