@model ListAsyncFormModel
@{
    Title = "List";
}

<div class="long-container propspect-blue-background z-depth-1">
    <div class="">
        <h3 class="center white-text padding-2">LandLords</h3>
    </div>
</div>


@Form.ListAsync(Model)

<script>
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal({
            dismissible: true,           // Modal can be dismissed by clicking outside of the modal
            opacity: .5,                 // Opacity of modal background
            in_duration: 300,            // Transition in duration
            out_duration: 200,           // Transition out duration
            ready: function () { },      // Callback for Modal open
            complete: function () { }    // Callback for Modal close
        }
  );
    });
</script>









